<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="OpenAdhanInstaller" Language="1033" Version="1.0.0.0" Manufacturer="HICalSoft" UpgradeCode="9fbdeddd-befd-4331-abe0-692105d8888e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="OpenAdhanInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

  <!-- https://wixtoolset.org/docs/v3/votive/votive_project_references/ -->

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="My Application">
          <Component Id="ApplicationFiles" Guid="*">
            <File Id="ApplicationFile1" Source="$(var.OpenAdhanForWindowsX.TargetPath)" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="OpenAdhanRegistrySetupAppComponent" Guid="*">
            <File Id="OpenAdhanRegistrySetupAppFile" Source="$(var.OpenAdhanRegistrySetupApp.TargetPath)" KeyPath="yes" Checksum="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="ApplicationFiles"/>
      <ComponentRef Id="OpenAdhanRegistrySetupAppComponent"/>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <CustomAction Id="RunOpenAdhanRegistrySetupApp" FileKey="OpenAdhanRegistrySetupAppFile" ExeCommand="OpenAdhanRegistrySetupApp.exe" Execute="deferred" Return="asyncWait" />
  </Fragment>

  <Fragment>
    <InstallExecuteSequence>
      <Custom Action="CloseOpenAdhanForWindows" After="InstallInitialize">NOT Installed</Custom>
      <Custom Action="RunOpenAdhanRegistrySetupApp" After="InstallFinalize" />
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <util:CloseApplication xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension" Id="CloseOpenAdhanForWindows" Target="OpenAdhanForWindows.exe" RebootPrompt="no" />
  </Fragment>

</Wix>
